.about {
    max-width 1260px 
    padding 80px 45px
    margin 0 auto
        
    h3 {
        margin-bottom 30px
        
        font 36px font-regular
        color #a399cd
        
        text-align center
    }
    
    &__p1 {
        font-size  24px
        color #413b52
        
        b {
            color #a399cd
        }
    }
    
    &__p2 {
        font-size  18px 
        margin 40px 0 45px
    }
    
    &__p3 {
        font-size  18px
    }
    
    @media (max-width: 600px) {
        padding 40px 30px
    }
}

