.testimonials-wrapper {
    background-color #f5f4f7
    
    padding-bottom 40px
}

.carousel {
    max-width 1260px
    overflow hidden
    margin 0 auto
}

.testimonials {
    max-width 1260px
    padding 40px 40px 0
    margin 0 auto
    
    font-size 0
        
    &__item {
        list-style none
        display inline-block
        
        margin-right 33px
                        
        text-align center
        
        border-radius 3px
        cursor pointer
        opacity .5
        
        &:last-child {
            margin-right 0
            
        }
        
        blockquote {
            padding 35px 60px
            margin-bottom 30px
            font-size 18px
            color #a6a6a6
            
            background-color white
            
            text-align justify
            
            position relative
            
            @media (max-width: 800px) {
                padding 20px 20px
                font-size 16px
            }
            
            &:after {
                content ''
                display block
                position absolute
                bottom  -10px
                left 48.5%
                
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 7.5px 0 7.5px;
                border-color: #fff transparent transparent transparent;

            }
        }
        
        .author {
            
            img {
                margin 0 auto
            }
            
            &__name {
                font 16px font-bold
            }
            
            &__position {
                font-size 14px
                color #a6a6a6
            }
            
        }
        
        @media (max-width: 600px) {
            margin-right  0
            
            blockquote {
                font-size 14px
            }
        }
    }
    
    .slick-center{
        opacity 1
        
        blockquote {
            color #fff
            background-color #a399cd
            
            &:after {
                border-color: #a399cd transparent transparent transparent;
            }
        }
    }
    
    @media (max-width: 480px) {
            padding-left 65px
    }
    
}

//.captions {
//    margin-top 20px
//    text-align center
//        
//    &__item {
//        display inline-block
//        width 23px
//        height 2px
//        
//        background-color #c6c6c6
//        
//        border-radius 2px
//        
//        opacity 0.7
//    }
//    
//    &__item--active {
//        background-color #7851a9
//    }
//}